In [28]:
import pandas as pd

train = pd.read_csv('../data/train/train.csv')
venue_item = pd.read_csv('../data/train/venue_item.csv')

In [ ]:
# 주요 하이퍼파라미터
LOOKBACK, PREDICT = 28, 7 # 고정 (대회 규칙)
seed = 42

# 디바이스 설정
import torch
DEVICE = torch.device('cuda' if torch.cuda.is_available() else 'cpu')

In [ ]:
# Custom Metric
# 식음업장별 가중치가 있는 SMAPE (담하, 미라시아는 다른 업장보다 높음)

## Preprocess

In [29]:
# 음수 처리
train['매출수량'] = train['매출수량'].clip(lower=0)

In [30]:
# 업장, 메뉴 분리
sp = train["영업장명_메뉴명"].str.split("_", n=1, expand=True)
train["venue"] = sp[0]; train["item"] = sp[1]

In [31]:
# 날짜 형식 변환
train["영업일자"] = pd.to_datetime(train["영업일자"])

# 평일(월화수목)
train["is_weekday"] = train["영업일자"].dt.weekday < 4

# 고정일 공휴일(음력/대체공휴일 제외)
_fixed_mmdd = {"01-01","03-01","05-05","06-06","08-15","10-03","10-09","12-25"}
train["is_fixed_holiday"] = train["영업일자"].dt.strftime("%m-%d").isin(_fixed_mmdd)

In [32]:
train

,영업일자,영업장명_메뉴명,매출수량,venue,item,is_weekday,is_fixed_holiday
0,2023-01-01,느티나무 셀프BBQ_1인 수저세트,0,느티나무 셀프BBQ,1인 수저세트,False,True
1,2023-01-02,느티나무 셀프BBQ_1인 수저세트,0,느티나무 셀프BBQ,1인 수저세트,True,False
2,2023-01-03,느티나무 셀프BBQ_1인 수저세트,0,느티나무 셀프BBQ,1인 수저세트,True,False
3,2023-01-04,느티나무 셀프BBQ_1인 수저세트,0,느티나무 셀프BBQ,1인 수저세트,True,False
4,2023-01-05,느티나무 셀프BBQ_1인 수저세트,0,느티나무 셀프BBQ,1인 수저세트,True,False
...,...,...,...,...,...,...,...
102671,2024-06-11,화담숲카페_현미뻥스크림,12,화담숲카페,현미뻥스크림,True,False
102672,2024-06-12,화담숲카페_현미뻥스크림,10,화담숲카페,현미뻥스크림,True,False
102673,2024-06-13,화담숲카페_현미뻥스크림,14,화담숲카페,현미뻥스크림,True,False
102674,2024-06-14,화담숲카페_현미뻥스크림,12,화담숲카페,현미뻥스크림,False,False
102675,2024-06-15,화담숲카페_현미뻥스크림,60,화담숲카페,현미뻥스크림,False,False

In [26]:
# 카테고리, 특성 추가

In [ ]:
# Sliding Window (공통)

In [ ]:
# from sklearn.model_selection import train_test_split
# from sklearn.preprocessing import StandardScaler, LabelEncoder

# # 훈련/검증 데이터 분리
# train_data, val_data = train_test_split(train, test_size=0.2, random_state=seed)

# # 업장, 메뉴, 카테고리 인코딩
# encoder = LabelEncoder()

# # 매출수량 정규화
# scaler = StandardScaler()

## LightGBM

In [ ]:
# 하이퍼파라미터

In [ ]:
# 모델 정의

In [ ]:
# 훈련

## CatBoost

In [ ]:
# 하이퍼파라미터

In [ ]:
# 모델 정의

In [ ]:
# 훈련

## GRU

In [ ]:
# 하이퍼파라미터

In [ ]:
# 모델 정의

In [ ]:
# 훈련

## Validation

In [ ]:
# 검증

In [ ]:
# 모델 성능 비교

In [ ]:
# 모델 선택 (저장)